{{define "simple.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>远程主机</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <link rel="stylesheet" href="static/css/main.css">

    <script src="static/layui/layui.js"></script>
    <script src="static/js/simple.js"></script>

    <style>
        .layui-elem-field {
            margin-bottom: 10px;
            padding: 0;
            border-width: 1px;
            border-style: solid;
            border-color: #e2e2e2;
        }

        .main legend {
            font-weight: bold;
            color: #56a66c;
        }

        .ssh-item1 .icon {
            cursor: pointer;
        }

        .shhs {
            height: 650px;
            width: 864px;
            overflow: auto;
        }

        .shhs button {
            margin-bottom: 10px;
        }

        .files .filter {
            display: block;
            margin: 10px;
        }

        .file-list .file-item {
            margin: 5px;
            cursor: pointer;
        }

        .file-list .file-item:hover {
            font-size: 20px;
            color: #56a66c;
        }

        #content {
            height: 700px;
            width: 930px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <!-- 隐藏域 -->
    <input type="hidden" id="activeSshId" value="{{.activeSshId}}">
    <!-- 主体 -->
    <div style="margin-bottom: 5px;">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" onclick="location.href='/'">首页</button>
    </div>
    <div class="main" style="display: flex;">
        <div class="search" style="width: 900px;margin-right: 5px;">
            <fieldset class="layui-elem-field">
                <legend>功能</legend>
                <div class="layui-field-box">
                    <div class="mode" style="margin-bottom: 5px;">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item" pane="">
                                <label class="layui-form-label">运行模式</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="mode" lay-filter="mode" value="1" title="查看模式" checked="">
                                    <!-- <input type="radio" name="mode" lay-filter="mode" value="2" title="搜索模式"> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="do_search" style="display: none;">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">关键字</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" lay-verify="required" autocomplete="off"
                                        class="layui-input" placeholder="请输入要查询的关键字">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button type="button" class="layui-btn" style="width: 100%;">搜索</button>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field">
                <legend>主机</legend>
                <div class="layui-field-box shhs">
                    <div style="display: flex;">
                        <div style="width: 400px;overflow: hidden;">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="add_ssh"
                                style="width: 80%;">
                                <i class="layui-icon layui-icon-add-circle"></i>
                                添加SSH
                            </button>
                            <form class="layui-form" action="">
                                <div class="layui-form-item ssh-item1">
                                    {{range $v := .sshList}}
                                    <div style="display: inline;" class="ssh_item">
                                        <input type="checkbox" lay-filter="ssh" name="ssh_item" lay-skin="primary"
                                            value="{{$v.Id}}" title="{{$v.Name}}【{{$v.Host}}:{{$v.Port}}】" {{if eq
                                            $v.IsActive 2}}checked{{end}}>
                                    </div>
                                    <span class="icons" style="display: none;">
                                        <!-- <i class="layui-icon layui-icon-edit icon edit_ssh" data-id="{{$v.Id}}" data-name="{{$v.Name}}"></i> -->
                                        <i class="layui-icon layui-icon-delete icon del_ssh" data-id="{{$v.Id}}"
                                            data-name="{{$v.Name}}"></i>
                                    </span>
                                    <br>
                                    {{end}}
                                </div>
                            </form>
                        </div>
                        <div style="width: 400px;">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="add_folder"
                                style="width: 80%;">
                                <i class="layui-icon layui-icon-add-circle"></i>
                                添加文件夹
                            </button>
                            <div class="files">
                                <span class="filter">
                                    *当前只搜索[.log]和[.txt]文件内容
                                    <div>(如果打不开, 说明有特殊字符)</div>
                                    <div>(只展示最后1000行)</div>
                                </span>
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <select name="interest" class="folder-list" lay-filter="folder-list">
                                            <option value="-1">请选择文件夹</option>
                                            {{range $v := .folderList}}
                                            <option value="{{$v.Id}}">{{$v.Name}}[{{$v.Path}}]</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="layui-form-item file-list">
                                        请选择文件夹
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="view" style="flex: 1;">
            <fieldset class="layui-elem-field">
                <legend>文件名</legend>
                <div class="layui-field-box">
                    <div id="file-name"></div>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend>文件内容</legend>
                <div style="margin: 5px;">
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" id="getDetailAgain">重新获取</button>
                </div>
                <div class="layui-field-box">
                    <pre id="content" class="out-box"></pre>
                </div>
            </fieldset>
        </div>
    </div>
</body>

</html>
{{end}}