{{template "base.html" .}}

{{define "css"}}
<style>
    .func .item {
        margin: 10px;
    }
</style>
{{end}}

{{define "body"}}
<body>
    <div class="d-flex flex-column align-items-center func">
        <div>
            <h1>{{.title}}</h1>
        </div>
        <div class="item">
            {{.time}}
        </div>
        <div class="item">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" onclick="location.href='/simple'">单主机</button>
        </div>
        <div class="item">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">多主机(尽请期待)</button>
        </div>
    </div>
</body>
{{end}}

{{define "js"}}
{{end}}